USE [BeybladeX_MetaTracker]
GO
/****** Object:  Table [dbo].[Bits]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bits](
	[BitID] [int] IDENTITY(1,1) NOT NULL,
	[BitName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blades]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blades](
	[BladeID] [int] IDENTITY(1,1) NOT NULL,
	[BladeName] [nvarchar](100) NOT NULL,
	[BladeType] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[BladeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cxassist_blades]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cxassist_blades](
	[cxassist_bladeid] [int] IDENTITY(1,1) NOT NULL,
	[cxassist_blade_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[cxassist_bladeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CXAssistBlades]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CXAssistBlades](
	[CXAssistBladeID] [int] IDENTITY(1,1) NOT NULL,
	[CXAssistBladeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CXAssistBladeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cxlock_chips]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cxlock_chips](
	[cxlock_chipid] [int] IDENTITY(1,1) NOT NULL,
	[cxlock_chip_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[cxlock_chipid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CXLockChips]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CXLockChips](
	[CXLockChipID] [int] IDENTITY(1,1) NOT NULL,
	[CXLockChipName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CXLockChipID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CXLocks]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CXLocks](
	[LockName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LockName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cxmain_blades]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cxmain_blades](
	[cxmain_bladeid] [int] IDENTITY(1,1) NOT NULL,
	[cxmain_blade_name] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[cxmain_bladeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CXMainBlades]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CXMainBlades](
	[CXMainBladeID] [int] IDENTITY(1,1) NOT NULL,
	[CXMainBladeName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CXMainBladeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[match_wins]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[match_wins](
	[matchid] [int] IDENTITY(1,1) NOT NULL,
	[match_date] [datetime2](7) NULL,
	[winningcxassist_bladeid] [int] NULL,
	[winning_bitid] [int] NOT NULL,
	[winning_bladeid] [int] NULL,
	[winningcxlock_chipid] [int] NULL,
	[winningcxmain_bladeid] [int] NULL,
	[winning_ratchetid] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[matchid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchWins]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchWins](
	[MatchID] [int] IDENTITY(1,1) NOT NULL,
	[TournamentID] [int] NULL,
	[WinningBladeID] [int] NULL,
	[WinningRatchetID] [int] NULL,
	[WinningBitID] [int] NULL,
	[LosingBladeID] [int] NULL,
	[MatchDate] [datetime] NULL,
	[WinningCXLockChipID] [int] NULL,
	[WinningCXMainBladeID] [int] NULL,
	[WinningCXAssistBladeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MatchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ratchets]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ratchets](
	[RatchetID] [int] IDENTITY(1,1) NOT NULL,
	[RatchetName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RatchetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tournaments]    Script Date: 3/15/2026 1:15:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tournaments](
	[TournamentID] [int] IDENTITY(1,1) NOT NULL,
	[ChallongeID] [nvarchar](100) NOT NULL,
	[TournamentName] [nvarchar](200) NULL,
	[DateHosted] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TournamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bits] ON 

INSERT [dbo].[Bits] ([BitID], [BitName]) VALUES (1005, N'Accel')
INSERT [dbo].[Bits] ([BitID], [BitName]) VALUES (2, N'Ball')
INSERT [dbo].[Bits] ([BitID], [BitName]) VALUES (1022, N'Bound Spike')
SET IDENTITY_INSERT [dbo].[Bits] OFF
GO
SET IDENTITY_INSERT [dbo].[Blades] ON 

INSERT [dbo].[Blades] ([BladeID], [BladeName], [BladeType]) VALUES (1, N'Dran Sword', N'Attack')
INSERT [dbo].[Blades] ([BladeID], [BladeName], [BladeType]) VALUES (2, N'Aero Pegasus', N'Attack')
INSERT [dbo].[Blades] ([BladeID], [BladeName], [BladeType]) VALUES (3, N'Cobalt Dragoon', N'Attack')
SET IDENTITY_INSERT [dbo].[Blades] OFF
GO
SET IDENTITY_INSERT [dbo].[CXAssistBlades] ON 

INSERT [dbo].[CXAssistBlades] ([CXAssistBladeID], [CXAssistBladeName]) VALUES (3, N'Assault')
INSERT [dbo].[CXAssistBlades] ([CXAssistBladeID], [CXAssistBladeName]) VALUES (5, N'Bumper')
INSERT [dbo].[CXAssistBlades] ([CXAssistBladeID], [CXAssistBladeName]) VALUES (1006, N'Charge')
SET IDENTITY_INSERT [dbo].[CXAssistBlades] OFF
GO
SET IDENTITY_INSERT [dbo].[CXLockChips] ON 

INSERT [dbo].[CXLockChips] ([CXLockChipID], [CXLockChipName]) VALUES (1, N'Dran')
INSERT [dbo].[CXLockChips] ([CXLockChipID], [CXLockChipName]) VALUES (2, N'Hells')
INSERT [dbo].[CXLockChips] ([CXLockChipID], [CXLockChipName]) VALUES (5, N'Leon')
SET IDENTITY_INSERT [dbo].[CXLockChips] OFF
GO
INSERT [dbo].[CXLocks] ([LockName]) VALUES (N'Bahamut')
INSERT [dbo].[CXLocks] ([LockName]) VALUES (N'Cerebus')
INSERT [dbo].[CXLocks] ([LockName]) VALUES (N'Dran')
GO
SET IDENTITY_INSERT [dbo].[CXMainBlades] ON 

INSERT [dbo].[CXMainBlades] ([CXMainBladeID], [CXMainBladeName]) VALUES (6, N'Arc')
INSERT [dbo].[CXMainBlades] ([CXMainBladeID], [CXMainBladeName]) VALUES (5, N'Blast')
INSERT [dbo].[CXMainBlades] ([CXMainBladeID], [CXMainBladeName]) VALUES (1, N'Brave')
SET IDENTITY_INSERT [dbo].[CXMainBlades] OFF
GO
SET IDENTITY_INSERT [dbo].[MatchWins] ON 

INSERT [dbo].[MatchWins] ([MatchID], [TournamentID], [WinningBladeID], [WinningRatchetID], [WinningBitID], [LosingBladeID], [MatchDate], [WinningCXLockChipID], [WinningCXMainBladeID], [WinningCXAssistBladeID]) VALUES (1, NULL, 6, 10, 10, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MatchWins] ([MatchID], [TournamentID], [WinningBladeID], [WinningRatchetID], [WinningBitID], [LosingBladeID], [MatchDate], [WinningCXLockChipID], [WinningCXMainBladeID], [WinningCXAssistBladeID]) VALUES (2, NULL, 3, 2, 5, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[MatchWins] ([MatchID], [TournamentID], [WinningBladeID], [WinningRatchetID], [WinningBitID], [LosingBladeID], [MatchDate], [WinningCXLockChipID], [WinningCXMainBladeID], [WinningCXAssistBladeID]) VALUES (3, NULL, 10, 10, 2, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[MatchWins] OFF
GO
SET IDENTITY_INSERT [dbo].[Ratchets] ON 

INSERT [dbo].[Ratchets] ([RatchetID], [RatchetName]) VALUES (1006, N'0-60')
INSERT [dbo].[Ratchets] ([RatchetID], [RatchetName]) VALUES (1007, N'0-70')
INSERT [dbo].[Ratchets] ([RatchetID], [RatchetName]) VALUES (1008, N'0-80')
SET IDENTITY_INSERT [dbo].[Ratchets] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Bits__C37623E9E9A358A4]    Script Date: 3/15/2026 1:15:57 PM ******/
ALTER TABLE [dbo].[Bits] ADD UNIQUE NONCLUSTERED 
(
	[BitName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Blades__14C71746720B50B2]    Script Date: 3/15/2026 1:15:57 PM ******/
ALTER TABLE [dbo].[Blades] ADD UNIQUE NONCLUSTERED 
(
	[BladeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CXAssist__A207523B8DE71183]    Script Date: 3/15/2026 1:15:57 PM ******/
ALTER TABLE [dbo].[CXAssistBlades] ADD UNIQUE NONCLUSTERED 
(
	[CXAssistBladeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CXLockCh__3463027A5EB69AFC]    Script Date: 3/15/2026 1:15:57 PM ******/
ALTER TABLE [dbo].[CXLockChips] ADD UNIQUE NONCLUSTERED 
(
	[CXLockChipName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__CXMainBl__28A02C30BD554716]    Script Date: 3/15/2026 1:15:58 PM ******/
ALTER TABLE [dbo].[CXMainBlades] ADD UNIQUE NONCLUSTERED 
(
	[CXMainBladeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Ratchets__2666C85405C38D06]    Script Date: 3/15/2026 1:15:58 PM ******/
ALTER TABLE [dbo].[Ratchets] ADD UNIQUE NONCLUSTERED 
(
	[RatchetName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Tourname__BD70334FA35E8555]    Script Date: 3/15/2026 1:15:58 PM ******/
ALTER TABLE [dbo].[Tournaments] ADD UNIQUE NONCLUSTERED 
(
	[ChallongeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatchWins] ADD  DEFAULT (getdate()) FOR [MatchDate]
GO
ALTER TABLE [dbo].[match_wins]  WITH CHECK ADD  CONSTRAINT [FK1bwgc3xn8s4yd7qmp7sqi0e2b] FOREIGN KEY([winningcxassist_bladeid])
REFERENCES [dbo].[cxassist_blades] ([cxassist_bladeid])
GO
ALTER TABLE [dbo].[match_wins] CHECK CONSTRAINT [FK1bwgc3xn8s4yd7qmp7sqi0e2b]
GO
ALTER TABLE [dbo].[match_wins]  WITH CHECK ADD  CONSTRAINT [FK1pk0vavn3lkfv1638b62g3uum] FOREIGN KEY([winning_ratchetid])
REFERENCES [dbo].[Ratchets] ([RatchetID])
GO
ALTER TABLE [dbo].[match_wins] CHECK CONSTRAINT [FK1pk0vavn3lkfv1638b62g3uum]
GO
ALTER TABLE [dbo].[match_wins]  WITH CHECK ADD  CONSTRAINT [FKgml52of12f92bym58mjsmq3l0] FOREIGN KEY([winning_bitid])
REFERENCES [dbo].[Bits] ([BitID])
GO
ALTER TABLE [dbo].[match_wins] CHECK CONSTRAINT [FKgml52of12f92bym58mjsmq3l0]
GO
ALTER TABLE [dbo].[match_wins]  WITH CHECK ADD  CONSTRAINT [FKgo203ihig2lt0x7ph4jfnth64] FOREIGN KEY([winning_bladeid])
REFERENCES [dbo].[Blades] ([BladeID])
GO
ALTER TABLE [dbo].[match_wins] CHECK CONSTRAINT [FKgo203ihig2lt0x7ph4jfnth64]
GO
ALTER TABLE [dbo].[match_wins]  WITH CHECK ADD  CONSTRAINT [FKj5rl5fwm0gubf25kf9tp4gq81] FOREIGN KEY([winningcxmain_bladeid])
REFERENCES [dbo].[cxmain_blades] ([cxmain_bladeid])
GO
ALTER TABLE [dbo].[match_wins] CHECK CONSTRAINT [FKj5rl5fwm0gubf25kf9tp4gq81]
GO
ALTER TABLE [dbo].[match_wins]  WITH CHECK ADD  CONSTRAINT [FKmr6sn8vmildunmjfegcbsios1] FOREIGN KEY([winningcxlock_chipid])
REFERENCES [dbo].[cxlock_chips] ([cxlock_chipid])
GO
ALTER TABLE [dbo].[match_wins] CHECK CONSTRAINT [FKmr6sn8vmildunmjfegcbsios1]
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([LosingBladeID])
REFERENCES [dbo].[Blades] ([BladeID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([TournamentID])
REFERENCES [dbo].[Tournaments] ([TournamentID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([WinningBladeID])
REFERENCES [dbo].[Blades] ([BladeID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([WinningRatchetID])
REFERENCES [dbo].[Ratchets] ([RatchetID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([WinningBitID])
REFERENCES [dbo].[Bits] ([BitID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([WinningCXLockChipID])
REFERENCES [dbo].[CXLockChips] ([CXLockChipID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([WinningCXMainBladeID])
REFERENCES [dbo].[CXMainBlades] ([CXMainBladeID])
GO
ALTER TABLE [dbo].[MatchWins]  WITH CHECK ADD FOREIGN KEY([WinningCXAssistBladeID])
REFERENCES [dbo].[CXAssistBlades] ([CXAssistBladeID])
GO
